body.dark .phone-header__icon-light{
  display: none;
}

body.dark .phone-header__icon-dark{
  display: block;
}

.phone{
  width: 375px;
  margin: 0;


  background: var(--background-phone);
  border-radius: 44px;
  border: 3px solid #000000;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.6);
  



  &-header{
    width: 100%;
    height: 44px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;


    &__time{
      margin-left: 15px;
      width: 54px;
      height: 21px;
      display: flex;
      flex-direction: row;
      align-items: center;
      

      &-text{

        font-weight: 600;
        font-size: 15px;
        line-height: 1.33;
        letter-spacing: -0.03em;
        text-align: center;
        color: var(--text);
      }
    }

    &__notch{
      width: 164px;
      height: 29px;

      align-self: baseline;

      background-color: black;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    &__indicators{
      display: flex;
      flex-direction: row;

      gap: 5px;

      

    }

    .phone-header__icon{
      display: none;
    }

    .phone-header__icon-light{
      display: block;
    }

  }



  &-screen{
    height: 734px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;



    .calculation{
      width: 335px;
      height: 599px;

      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap:16px;

      .calculation-log {
        

        &__text{
          font-family: var(--font-family);
          font-weight: 300; 
          font-size: 40px;
          text-align: right;
          color: rgba(203, 203, 204, 1);
        }
      }

      .calculation__result{
        font-family: var(--font-family);
        font-weight: 300;
        font-size: 96px;
        line-height: 100%;
        text-align: right;
        color: var(--text);
      }


      .keyboard{
        align-self: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;

        &__row{
          display: flex;
          flex-direction: row;
          gap:16px;
        }

        &__button--function {
          @include button-style(var(--button-medium), var(--text));
        }

        &__button--number {
          @include button-style(var(--button-low), var(--text));
        }

        &__button--operator {
          @include button-style(var(--button-high), var(--general-white));
        }
      }
    }

    
  }

  &-footer{
    width: 100%;
    height: 34px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    .home-indicator{
      background-color: var(--general-color);
      border-radius: 100px;
      width: 134px;
      height: 5px;
    }
  }
}



@media (max-width: 400px) {
  .phone {
    width: 270px; // уменьшаем ширину телефона
    height: auto;
    

    &-screen {
      gap: 20px;
      height: 460px;
      .calculation {
        
        width: 100%; // уменьшаем ширину области с цифрами и результатом
        gap: 10px;
        margin-top: 20px;

        &__result {
          margin-right: 10px;
          font-size: 60px !important; // подгоняем размер шрифта результата
        }

        .calculation-log {
          margin-right: 10px;
          &__text {
            font-size: 30px; // подгоняем шрифт истории вычислений
          }
        }

        .keyboard {
          gap: 8px;

          &__row{
            gap: 20px;
          }

          &__button--number,
          &__button--operator,
          &__button--function {
            width: 45px !important;
            height: 45px !important;
            font-size: 20px !important;

            touch-action: manipulation;   /* отключает double-tap zoom */
            -webkit-user-select: none;    /* запрет выделения текста */
            user-select: none;
          }

          
        }
      }
    }

    &-footer {
      .home-indicator {
        width: 100px; // уменьшаем домашний индикатор на телефонах
        height: 4px;
      }
    }
  }

  body.dark .phone-header__icon-light {
    display: none !important;
  }

  body.dark .phone-header__icon-dark {
    display: block !important;
  }
}
