@mixin button-style($bg, $color) {
    border: none;
    border-radius: 24px;
    width: 71px;
    height: 72px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 125%;
    text-align: center;
    background-color: $bg;
    color: $color;
    transition: background-color 0.2s, transform 0.1s;


    &:hover {
        opacity: 0.9;
    }
    &:active {
        transform: scale(0.95);
    }
}





