:root {
  /* Тёмная тема */
  --dark-background:  #f1f2f3;
  --dark-background-phone: #17171c;
  --dark-text: #fff;
  --dark-button-high-emphasis: #4b5efc;
  --dark-button-medium-emphasis: #4e505f;
	--dark-button-low-emphasis: #2e2f38;
  /* Светлая тема */
  --light-background: #17171c;;
  --light-background-phone: #f1f2f3 ;
	--light-text: #000;
	--light-button-high-emphasis: #4b5efc;
	--light-button-medium-emphasis: #d2d3da;
	--light-button-low-emphasis: #fff;
  

  --general-white: #fff;
  --general-black: #000;

  --font-family: "Work Sans", sans-serif;
  --second-family: "SF Pro Text", sans-serif;

}